.container {
    background-color: #000000;
    margin: 0 0 0 0;
}

.Logo {
    height: auto;
    width: 15%;
    padding: 20px 0 20px 10px;
    viewport-fit: auto;
}

.nav_links {
    list-style: none;
    text-align: center;
    font-size: 17px;
    margin: 4% 0 0 0;
    float: right;
}

.nav_links li {
    display: inline-block;
    padding: 0px 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    transition: color 0.3s;
}

.nav_links li:hover {
    color: #bfd8ad;
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: #bfd8ad;
    cursor: pointer;
    padding: 9px 25px 9px 25px;
    margin: 3% 0 0 0;
    font-size: 17px;
    font-weight: bolder;
    float: right;
    transition: background-color 0.5s;
}

.btn:hover{
    background-color: white;
}

img {
    width: 100%;
    height: auto;
}